/data/Root_content/Vaani/Language_identification_whole_data/Dataset/*
*.wav
*.pt
./Dataset/dataWmT.json
./CSVs/CSVs_with_link/Supported_facebook/HINDI_predicted_labels.csv
./CSVs/CSVs_with_link/Supported_facebook/BENGALI_predicted_labels.csv
./CSVs/CSVs__/Supported_facebook/HINDI_predicted_labels.csv
./Dataset/dataWmT.json
./CSVs/CSVs_with_link/Supported_facebook/MARATHI_predicted_labels.csv
./CSVs/CSVs_with_link/Supported_facebook/HINDI_predicted_labels.csv
./CSVs/CSVs_with_link/Supported_facebook/BENGALI_predicted_labels.csv
./CSVs/CSVs_with_link/Supported_facebook/KANNADA_predicted_labels.csv
./CSVs/CSVs_with_link/Supported_facebook/TELUGU_predicted_labels.csv
./CSVs/CSVs__/Supported_facebook/HINDI_predicted_labels.csv
./CSVs/CSVs__/Supported_facebook/BENGALI_predicted_labels.csv
./CSVs/CSVs__/Supported_facebook/KANNADA_predicted_labels.csv
./CSVs/CSVs__/Supported_facebook/TELUGU_predicted_labels.csv
./.git/objects/9a/2713401ee68cf6186b5aee61a9ca5809b7b0f3
./.git/objects/b1/cf83d789cd449e2d3081b8974e57991e3b5543
./.git/objects/pack/pack-720e55f97a4095940c11f9d8bd5773281db8d6f9.pack
